* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    /* Color name */
    color: red;

    /* Decimal rgb */
    color: rgb(255, 0, 0);

    /* Decimal rgba | a -> alpha pour la transparence de 0 à 1 */
    color: rgba(255, 0, 0, 1);

    /* Hex rgb */
    color: #ff0000;

    /* Hexa rgba */
    color: #ff0000ff;

    /* hsl(hue, saturation, lightness)  */
    color: hsl(0deg, 100%, 50%);

    /* hsl(hue, saturation, lightness, alpha)  */
    color: hsla(0, 100%, 50%, 1);
}
