:root {
    --text-cl: #333;
    --main-primary: rgb(63, 124, 215);
    --main-primary-hover: rgb(14, 68, 150);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-cl);
    font-size: 20px;
}

h1 {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}
a {
    text-decoration: none;
    color: var(--text-cl);
}

.container {
    min-width: 380px;
    max-width: 1200px;
    width: 80%;
    min-height: 200px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

/* BTN */
.btn {
    border-radius: 5px;
    padding: 10px 30px;
    color: #fff;
}

.btn-primary {
    background-color: var(--main-primary);
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: var(--main-primary-hover);
}

/* CUBE 1 */
.cube {
    width: 200px;
    height: 200px;
    background-color: var(--main-primary);
    transition: width 1s, height 1s 1s;
}

.cube:hover {
    width: 500px;
    height: 300px;
}

/* CIRCLE 1 */
.container-circle {
    width: 100%;
    background-color: rgb(203, 129, 210);
    overflow: hidden;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: 2s;
    opacity: 0;
    /* transition: width 1s, height 1s, margin-top 1s 1s; */
}

.container-circle:hover .circle {
    width: 150px;
    height: 150px;
    transform: translate(1200px);
    opacity: 1;
}

/* CUBE 2 */
.cube-2 {
    width: 200px;
    height: 200px;
    background-color: rgb(241, 178, 60);
    transition: 1s;
}

.cube-2:hover {
    /* transform: translate(100px, 100px); */
    /* transform: scale(.5); */
    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    /* transform: rotate(360deg); */
    transform: rotate(45deg) scale(1.5) translateX(100px);
}

/* CUBE 3 */
.cube-3 {
    width: 100px;
    height: 100px;
    background-color: green;
    transition: width 1s, height 1s 1s, transform 1s 2s;
}

.container-cube-3:hover .cube-3 {
    width: 300px;
    height: 300px;
    transform: rotate(720deg);
}

/* TEXT APPARITION */
.text-1 {
    height: 100px;
    border-radius: 50%;
    animation: appear 3s 2s;
}

/* CUBE ANIMATION */
.cube-4 {
    width: 200px;
    height: 200px;
    background-color: green;
    margin: auto;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: appear 2s infinite alternate;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
    }
}

/* CIRCLE 3 */
.circle-3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #333;
    animation: rolling 2s infinite alternate;
}

@keyframes rolling {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(500px);
    }
}

/* TEXT ANIMATION */
.text {
    min-height: 100px;
    background-color: beige;
    overflow: hidden;
}

.text p {
    animation: show 2s;
}

@keyframes show {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* DOWNLOAD */
.download{
    width: 300px;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.circle-4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    animation: download 1.5s infinite linear;
}

.circle-4:nth-child(2){
    animation-delay: .5s;
}

.circle-4:nth-child(3){
    animation-delay: 1s;
}


@keyframes download {
    0% {
       transform: translateY(0);
    }
    50%{
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}